.loginTitle{
  text-align: center;
  color: black;
  font-size: 30px;
}

.loginDiv{
  background-color: white;
  box-shadow: grey ;
  text-align: center;
  margin-left: 23rem;
  margin-right: 23rem;
  margin-bottom: 5rem;
  /* margin: 0 20rem; */
  border-radius: 10px;
  padding: 1rem 3rem;
}

.loginDivh1{
  color: black;
}

.loginDivp{
  color: grey;
}

.loginEmailHolder{
  padding-right: 2rem;
  padding-bottom: 20px;
}

.loginForm{
  /* padding-right: 2rem; */
  width: 100%;
  padding-top: 20px;
}

.loginEmailpHolder{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.loginEmailp{
  text-align: left;
  line-height: 0;
}

.loginEmailLink{
  text-decoration: none;
  color: rgb(50, 116, 83);
}

.loginEmailLink:hover{
  cursor: pointer;
  color: rgb(17, 163, 90);
}

.loginInputEmail{
  background-color: white;
  color: black;
  padding: 1rem;
  border: solid rgb(187, 187, 187) 1px;
  border-radius: 10px;
  width: 100%;
  /* margin-right: 4rem; */
}

.viewPasswordBtn{
  background-color: transparent;
  position: absolute;
  border: none;
  top: 26.7rem;
  right: 24.5rem;
}

.viewPasswordBtn1{
  background-color: transparent;
    position: absolute;
    border: none;
    top: 38.3rem;
    right: 24.5rem;
}

.viewPasswordBtn1{
  cursor: pointer;
}

.viewPasswordBtn:hover{
  cursor: pointer;
}

.roleDownBtn{
  background-color: transparent;
    position: absolute;
    border: none;
    top: 44.7rem;
    right: 26.5rem;
}

.roleDown:hover{
  cursor: pointer;
}

.viewPasswordIcon{
  color: rgb(107, 107, 107);
}

.roleDown{
  color: rgb(107, 107, 107);
}

.loginPhoneSpan{
  color: grey;
}

.loginBtn{
  background-color: rgb(50, 116, 83);
  border: solid grey 1px;
  border-radius: 10px;
  width: 80%;
  margin-top: 1rem;
  padding: 13px 1rem;
  font-size: 1rem;
  font-weight: 600;
}

.loginSpan{
  margin-top: 1rem;
  padding-top: 1rem;
}

.loginSpan span{
  margin-right: 5px;
  font-weight: 500;
  color: rgb(39, 39, 39); 
}

.loginSpanLink{
  text-decoration: none;
  color: rgb(50, 116, 83);
}

.loginBtn:hover{
  cursor: pointer;
  background-color: rgb(15, 134, 75);
}

.signUpLink{
  text-decoration: none;
  color: rgb(50, 116, 83);
}

.signUpLinkHolder{
  margin: 1rem;
}

.signUpLink:hover{
  cursor: pointer;
    color: rgb(17, 163, 90)
}

.copyright{
  font-size: 12px;
  color: grey;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.copyrightIcon{
  color: grey;
}

.viewTitle{
  background-color: white;
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.leftViewTitle{
  padding-left: 2rem;
  display: flex;
  align-items: center;
}

.leftViewTitleSpan{
  font-weight: 700;
  font-size: 18px;
}

.rightViewTitle{
  padding-right: 1.5rem;
  display: flex;
  align-items: center;
}

.viewProfile{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: none;
}

.rightViewTitleUserName2{
  padding-left: 10px;
}

.rightViewTitleUserName{
  align-items: center;
  padding-left: 1.5rem;
}

.rightViewTitleSpan{
  font-weight: 600;
  line-height: 0;
}

.rightViewTitle {
  font-size: 13px;
  /* color: grey; */
  line-height: 0;
}

.viewh1{
  padding-left: 2rem;
}

.searchRequestsDiv{
  align-items: center;
  justify-content: space-between;
  width: 100%;
  display: flex;
}

.searchIconDiv{
  display: flex;
  align-items: center;
}

.searchIcon{
  position: absolute;
  left: 2.5rem;
}

.searchRequestsInput{
  background-color: white;
  color: black;
  position: absolute;
  border: none;
  padding: 12px 40px;
  margin-right: 1rem;
  margin-left: 2rem;
  width: 63.5rem;
  border-radius: 10px;
}


.filterSearchDiv{
  padding-right: 2rem;
  display: flex;
}

.filterButton{
  margin-left: 15px;
  border-radius: 10px;
  background-color: white;
  color: black;
  border: none;
  padding:8px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filterButton:hover{
  cursor: pointer;
  color: rgb(17, 163, 90);
}

.filterButton1{
  margin-left: 15px;
  border-radius: 10px;
  border: none;
  padding: 6px 15px;
  display: flex;
}

.roleDownIcon{
  /* position: absolute; */
  right: 8.6rem;
  top: 9.8rem;
}

.requestsContainer{
  padding: 1rem 2rem;
}

.singleRequestsHolder{
  display: flex;
  /* justify-content: space-between; */
  padding-bottom: 1rem;
  flex-wrap: wrap;
}

/* .singleRequestsHolderOne {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  flex-wrap: wrap;
} */

.singleRequest{
  background-color: white;
  width: 30%;
  border-radius: 10px;
  padding-bottom: 20px;
  line-height: 1;
  margin: 20px;
}

.mapImage{
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 250px;
  position: relative;
}

.mapImage img{
  width: 100%;
  height: 100%;
  object-fit: cover;
    border-top-left-radius: 10px;
      border-top-right-radius: 10px;
}

.upperSingleRequest{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


.singleRequestTitle{
  padding-left: 1rem;
}

.singleRequestp1{
  padding-left: 1rem;
  color: grey;
}

.singleRequestp2{
  line-height: 1;
  padding-left: 1rem;
  color: grey;
}

.singleRequestp3{
  border-radius: 10px;
  margin-left: 1rem;
  padding: 2px 9px;
}

.singleRequestp4{
  background-color: rgb(125, 219, 138);
  color: rgb(2, 128, 18);
    border-radius: 10px;
    margin-left: 1rem;
    padding: 2px 9px;
}

.singleRequestp5{
  background-color: rgb(219, 125, 125);
  color: rgb(128, 2, 2);
  border-radius: 10px;
  margin-left: 1rem;
  padding: 2px 9px;
}

.addRequestButtonDiv{
  display: flex;
  justify-content: right;
}

.addRequestButton{
  display: flex;
  align-items: center;
  background-color: rgb(50, 116, 83);
  border: none;
  margin: 1rem 2rem;
  padding: 15px 1.5rem;
  border-radius: 50px;
  position: fixed;
  bottom: 20px;
    right: 0;
    z-index: 1000;
}

.addRequestButton:hover{
  cursor: pointer;
    background-color: rgb(17, 163, 90)
}

.addRequestButton span{
  padding-left: 6px;
}

.submitRequestDiv{
  background-color: white;
  box-shadow: 5px 5px 10px rgb(187, 187, 187);
  margin: 2rem 16rem;
  border-radius: 10px;
  padding: 1rem 2rem;
}

.submitTitleh1{
  line-height: 1;
}

.subitRequestp{
  color: grey;
  line-height: 0;
}

.submitRequestForm{
  padding-top: 30px;
  padding-bottom: 30px;
}

.submitTitleInputHolder{
  width: 47rem;
}

.requestTItlep{
  line-height: 0;
}

.submitTitleInput{
  border-radius: 10px;
  border: solid 1px grey;
  background-color: white;
  width: 100%;
  padding: 10px;
  color: black;
}

.requestTItlep1{
  line-height: 0;
  padding-top: 20px;
}

.requestTItlep12{
  line-height: 0;
    padding-top: 30px;
    font-weight: 600;
}

.submitTitleInputHolder1{
  border-radius: 10px;
  border: dashed 1px grey;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  position: relative;
}

.browseFileInput{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
    cursor: pointer;
}

.uploadedImagePreview{
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
}

.submitTitleInputHolder12{
  text-align: center;
}

.dropImgp{
  line-height: 0;
}

.dropImgp1{
  color: grey;
}

.addPhotoIcon{
  color: rgb(94, 94, 94);
}

.submitTitleInput1 {
  padding: 10px;
  background-color: white;
  border: none;
  width: 15rem;
  color: black;
}

.requestTItlep12Holder{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.locationLink{
  text-decoration: none;
  display: flex;
  line-height: 0;
  align-items: center;
  font-size: 14px;
  color: rgb(50, 116, 83);
}

.locationLink span{
  padding-left: 5px;
}

.locationLink:hover{
  cursor: pointer;
    color: rgb(17, 163, 90)
}

.submtitBtnsDiv{
  display: flex;
  justify-content: right;
  border-top: solid 1px rgb(211, 211, 211);
  padding-top: 1rem;
  margin-top: 3rem;
}

.submitRequestBtn {
  display: flex;
  align-items: center;
  background-color: rgb(50, 116, 83);
  border: none;
  margin-left: 1rem;
  padding: 15px 1.5rem;
  border-radius: 10px;

}

.submitRequestBtn:hover{
  cursor: pointer;
    background-color: rgb(17, 163, 90);
}

.submitRequestBtn1{
  display: flex;
    align-items: center;
    background-color: white;
    color: rgb(90, 90, 90);
    border: none;
    padding: 15px 1.5rem;
    border-radius: 10px;
}

.submitRequestBtn1:hover{
  cursor: pointer;
  background-color: rgb(209, 209, 209);
}

.submitRequestBtn1Link{
  text-decoration: none;
}

.approvalTitle{
  background-color: white;
  margin: 0;
}

.spna{
  font-weight:500;
  margin: 0 10px;
}

.rightViewTitleUserName1{
  background-color: rgb(226, 226, 226);
  padding: 7px;
  align-items: center;
  border-radius: 50px;
  display: flex;
  width: 20px;
  height: 20px;
}

.rightViewTitleUserName2{
  padding-left: 10px;
}

.viewProfile1 {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
}

.rightViewTitle1{
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.titleLink{
  text-decoration: none;
  color: rgb(50, 116, 83);
  padding-left: 1rem;
}

.titleLink:hover {
  cursor: pointer;
  color: rgb(17, 163, 90);
}

.approvalH1{
  margin-left: 6rem;
  margin-right: 6rem;
}

.allApprovals{
  margin: 0 6rem;
  background-color: white;
  border-radius: 10px;
  padding: 5px 20px;
  line-height: 0;
  margin-bottom: 20px;
  /* width: 100%; */
}

.allApprovalsIconHolder{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.allApprovalsIconp{
  border-radius: 10px;
    /* margin-left: 1rem; */
    padding: 10px 9px;
    /* margin: 1rem 2rem; */
}

.allApprovalsIcon{
  color: rgb(50, 116, 83);
}

.allApprovals:hover{
  cursor: pointer;
  border: solid 1px rgb(74, 170, 122);
}

.approvedbydivHOlder{
  display: flex;
  margin-left: 6rem;
  margin-right: 6rem;
  margin-bottom: 2rem;
  justify-content: space-between;
}

.approvedbydiv:hover{
  cursor: pointer;
  border: solid 1px rgb(74, 170, 122);
}

.approvedbydiv{
  background-color: white;
  padding: 1rem;
  width: 29%;
  border-radius: 10px;
  box-shadow: 3px 3px 6px rgb(194, 194, 194);
}

.approvedbyp{
  color: grey;
  line-height: 0;
}

.approvedbyh2{
  padding-top: 10px;
  line-height: 0;
  color: rgb(50, 116, 83);
}

.approvaldetails{
  margin: 3rem 6rem;
  background-color: white;
  padding-bottom: 2rem;
  border-radius: 10px;
  box-shadow: 3px 3px 6px rgb(177, 177, 177);
}


/*  */
/* 



*/
.approvaldetails:hover{
  border: solid 1px rgb(74, 170, 122);
}

.approvalimage {
  width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 450px;
    position: relative;
    margin-bottom: 20px;
}

.approvalimg{
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 
  10px;
}

.singleRequestp4 {
  border-radius: 10px;
  margin-left: 1rem;
  padding: 2px 9px;
  margin: 1rem 2rem;
}

.approvalDescription{
  margin-left: 2rem;
  margin-right: 2rem;
}

.approvalDescriptionp{
  color: grey;
}

.statusHistory{
  display: flex;
  align-items: center;
}

.statusHistory2{
  align-items: center;
  padding-left: 20px;
}

.requestSubmittedath4{
  line-height: 0;
}

.requestSubmittedatp{
  line-height: 0;
  color: grey;
  font-size: 13px;
}

.statusHistoryIcon{
  font-weight: 50px;
  color: rgb(1, 156, 1);
}

.approvebtnsdivHolder{
  margin: 0 2rem;
}

.approvebtnsdiv{
  display: flex;
  justify-content: space-between;
}

.noteHolder{
  margin-right: 1.5rem;
  padding-bottom: 20px;
}

.note{
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  color: black;
}

.approveBTN{
  width: 49%;
  padding: 10px 0;
  background-color: rgb(50, 116, 83);
  border-radius: 10px;
  border: none;
  font-size: 17px;
}

.approveBTN:hover {
  cursor: pointer;
  background-color: rgb(17, 163, 90);
}

.rejectBTN{
  width: 49%;
  background-color: rgb(185, 46, 46);
  border-radius: 10px;
  padding: 10px 0;
  font-size: 17px;
  border: none;
}

.rejectBTN:hover {
  cursor: pointer;
  background-color: rgb(219, 54, 54);
}












/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
